@charset "UTF-8";
/* CSS Document */

body {
	background-color: white;
	margin: 0px;
	font-family: 'Sansita', sans-serif;
	font-weight: 400;
}

nav {
width: 700px;
text-align: center;
margin: 0 auto;
padding: 0;
}

nav ul{
	margin: 0;
	padding: 0;
	transform:translateY(40%);
}

nav ul li {
display: inline-block;
line-height: 20px;
margin: 0 20px;

}

nav ul li a {
	color: black;
    font-weight: bold;
    font-size: 20px;
}

header {
	height: 600px;
    background-image: url("img/fleurs.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

#container{
	min-height: 500px;
	margin: auto;

}



header .intro {
	width:50%;
	position: absolute;
	top: 50%;
	left: 66%;
	text-align: right;
	transform: translateY(-50%) translateX(-50%);
	height: 300px;
}

header .intro h1 {
	font-family: 'Sansita', sans-serif;
	font-size:100px;
	text-align:left;
	color: #00000;
	display: inline-block;
	font-weight: 700;
}




header .intro p{
	color:#00000;
	font-size:40px;
	line-height: 24px;
	text-align: center;
	font-weight: 400;
}


.container {
	width: 1000px;
	background-color: #fde900;
	margin:10px auto;
	padding: 10px;

}

.picture {
	height: 200px;
	margin: 0 30%;
    margin-top: 30px;


}
.picture img{
	margin: 0 auto;
    width: 400px;
}

#caca {
	display: inline-block;
	margin-left: 21px;
	margin-right: 20px;
}

.footer {
	height: 50px;
	background-color: #FFF;
}

.footer p {
	transform:translateY(60%);
	color: white;

}

.bg-container {
	margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 10px;
background-color: #fde900;
}

#index .container {
	height: 450px;
}

.workbee {
	margin: 0 25%;
}

.workbee img {
	width: 600px
}

.video1 {
	background-color:  #fde900;
    padding: 20px 0;
    margin-top: 40px;
}

.video2 {
	background-color:  #fde900;
    padding: 20px 0;
    margin-top: 40px;
}
.video3 {
	background-color:  #fde900;
    padding: 20px 0;
    margin-top: 40px;
}



.game {
	background-color:  #fde900;
	padding: 20px 0;
}

.game table {
	margin: 0 17% !important;
}

video {
	border : 2em solid #000;
	border-radius: 1em;
	display: block;
	width: auto;
	margin: 2em auto;
	border-color: #000;
	height: 400px
}
