ol {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}

li {
  border: 1px solid #000;
  width: 100px;
  text-align: center;
  margin: 12px;
}


li img{
  width: 100%;
}



h1{
  text-align: center;
}



.colors li {
  border: 1px solid #000;
  width: 20%;
  text-align: center;
  margin: 12px;
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 8px;
  color: #000

}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}


#color-1 {
 background-color: #443c5c;
}

#color-2 {
 background-color: #666fe9;
}

#color-3 {
 background-color: #cd222d;
}

#color-4 {
 background-color: #fe6523;
}
#color-5 {
 background-color: #f8ef31;
}
#color-6 {
 background-color: #fefef4;
}
